@font-face {
	font-family: times;
	font-display: swap;
	src: url("../fonts/times-new-roman-bold-italic.woff") format("woff"), url("../fonts/times-new-roman-bold-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: times;
	font-display: swap;
	src: url("../fonts/times-new-roman-bold.woff") format("woff"), url("../fonts/times-new-roman-bold.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: times;
	font-display: swap;
	src: url("../fonts/times-new-roman-italic.woff") format("woff"), url("../fonts/times-new-roman-italic.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: times;
	font-display: swap;
	src: url("../fonts/times-new-roman.woff") format("woff"), url("../fonts/times-new-roman.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
