@font-face {
	font-family: TimesNewRomanPSBoldMT;
	font-display: swap;
	src: url("../fonts/TimesNewRomanPSBoldMT.woff") format("woff"), url("../fonts/TimesNewRomanPSBoldMT.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: TimesNewRomanPSMT;
	font-display: swap;
	src: url("../fonts/TimesNewRomanPSMT.woff") format("woff"), url("../fonts/TimesNewRomanPSMT.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	}
