/*-------- Write Fonts Start -------*/
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
/*-------- Write Fonts End -------*/

/*-------- Import Start -------*/
@import "_fonts";
//@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";
@import "_mixin";
@import "_vars";
// @import "header/_style_header";
// @import "footer/_style_footer";
/*-------- Import End -------*/

/*-------- Page Index Start -------*/

/*-------- All Start -------*/
* {
  color: #000000;
}

::selection {
  color: #ffffff;
  background-color: #000;
}

.__container {
  display: none;
  max-width: 1920px;
  margin: 0 auto;
  padding: 46px 39px;
  background-color: #acacac;
  opacity: 0; // Скрываем фон и сам попап
  pointer-events: none; // Запрещаем ему быть целью событий

  &.active {
    display: block;
    // При добавлении класса 'active'
    opacity: 1; // Показываем фон и попап
    pointer-events: all; // Возвращаем события
    transition: 0.5s all;
  }
  @media (max-width: 1199px) {
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #acacac;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(190, 186, 186, 0.349)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/*-------- All End -------*/

/*-------- Main Start -------*/
.block-button-show-modal {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  &.active {
    display: none;
  }
}

.open-popup {
  height: 34px;
  padding: 9px 10px;
  border-radius: 10px;
  border: solid 1px #979797;
  background-color: #d8d8d8;

  font-family: times;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
  display: block;
  &.active {
    display: none;
  }
}

.block-pop-up-modal {
  max-width: 1842px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1199px) {
  }
}

.modal {
  background-color: #fff;
  padding: 30px 20px 20px 60px;
  position: relative;
}

.block-pop-up {
  &__title {
    width: 80%;
    height: 16px;
  }

  &__title-data {
    display: flex;
    column-gap: 5px;
  }

  &__title-data-tower-block {
  }

  &__title-data-tower-title {
    font-family: times;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    text-decoration: underline;
  }

  &__title-data-tower-sub-title {
    font-family: times;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #acacac;
    text-transform: uppercase;
  }

  &__title-data-square-block {
  }

  &__title-data-square-title {
    font-family: times;
    font-size: 15px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

  &__title-data-square-sub-title {
    font-family: times;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #acacac;
    text-transform: uppercase;
  }

  &__close {
    position: absolute;
    top: 23px;
    right: 14px;
    &:hover {
      cursor: pointer;
    }
  }

  &__column {
    // display: flex;
    // width: 100%;
    // margin-top: 47px;
    // flex-direction: row;
    // flex-wrap: wrap;
    // row-gap: 56px;
    // column-gap: 106px;
    display: grid;
    width: 100%;
    margin-top: 47px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 64px;
    grid-row-gap: 56px;
    grid-template-areas:
      "card-1 card-2"
      "card-3 card-4"
      "card-3 card-4";
    @media (max-width: 1499px) {
    }
    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "card-1"
        "card-2"
        "card-3"
        "card-4";
      justify-items: center;
    }
  }

  &__card {
    max-width: 802px;
    height: max-content;
  }
  &__card-parallelogram-head {
    position: relative;
    top: 1px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 14px 70px 14px 56px;
    height: 53px;
    z-index: 1;
    &::before {
      border: solid 1px #979797;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-bottom: #979797;
      background: #fff;
      transform: perspective(1.5em) rotateX(2deg);
      transform-origin: bottom left;
    }
  }

  &__card-title {
    font-family: times;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

  &__card-column {
    border: solid 1px #979797;
    display: flex;
    width: 100%;
  }

  &__card-column-button {
    height: 34px;
    padding: 9px 10px;
    border-radius: 10px;
    border: solid 1px #979797;
    background-color: #d8d8d8;

    font-family: times;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

  &__card-column-data {
    text-align: left;
    flex: 0 0 50%;
    font-family: times;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
  }

  &__card-column-data-adress {
  }

  &__card-column-data-count-square {
    margin-top: 22px;
  }

  &__card-column-data-count-auto {
    margin-top: 22px;
  }

  &__card-column-data-placeholder {
    margin-top: 22px;
    background-color: #d8d8d8;
    height: 11px;
  }

  &__card-column-user-data {
    flex: 0 0 50%;
    font-family: times;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__card-column-user-data-adress {
  }

  &__card-column-user-data-count-square {
    margin-top: 22px;
  }

  &__card-column-userdata-count-auto {
    margin-top: 22px;
  }

  &__card-column-user-data-placeholder {
    margin-top: 22px;
    background-color: #d8d8d8;
    height: 11px;
  }
}
.card-column-1{
padding: 38px 60px 74px 55px;
}

.card-column-2{
padding: 38px 60px 39.5px 55px;
}

.card-column-3{
padding: 38px 60px 39px 55px;
}
.card-column-4{
padding: 38px 60px 154.5px 55px;
}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
  position: relative;
  top: -133px;
  left: 2px;
  grid-area: card-4;
}

.placeholder-1 {
  width: 224px;
}

.placeholder-2 {
  width: 272px;
}

.placeholder-3 {
  width: 197px;
}

.placeholder-4 {
  width: 209px;
}

.placeholder-5 {
  width: 186px;
}

.placeholder-6 {
  width: 224px;
}

.placeholder-7 {
  width: 139px;
}

.placeholder-8 {
  width: 163px;
}

.placeholder-9 {
  width: 133px;
}

.placeholder-10 {
  width: 116px;
}

.placeholder-11 {
  width: 93px;
}

.placeholder-12 {
  width: 139px;
}

.button-block {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;
  flex-wrap: wrap;
}
/*-------- Main End -------*/
